

.above-fold-override {
  max-height: 1000px;
}

.m-r-5 {
  margin-right: 5px;
}

.btn-primary {
  background-color: #1A99FC !important;
  border-color: #1A99FC;
}

.btn-primary:hover {
  background-color: #1565C0 !important;
  border-color: #1565C0;
}

.beta-text {
  font-size: 12pt;
  /*position:relative;*/
  /*left: -80px;*/
  /*bottom: -20px;*/
}

.navbar-brand img {
  max-width: 140px;
}

.h3, .h4, .h5, h3, h4, h5{
  font-weight: 400 !important;
}

.pull-quote > img {
  width: auto;
  height: 100px;
}

@media (min-width: 768px) {
  .pull-quote > img {
    width: auto;
    height: 150px;
  }
}


